fava==1.30.2

beanprice @ git+https://github.com/mekanics/beanprice.git

beancount-reds-plugins==0.3.0
beancount-periodic==0.2 
fava-dashboards @ git+https://github.com/andreasgerstmayr/fava-dashboards.git
fava-investor==1.0.1

loguru==0.7.3
ibflex==0.15