fava==1.30.4

beanprice @ git+https://github.com/beancount/beanprice.git

beancount-reds-plugins==0.3.0
beancount-periodic==0.2 
fava-dashboards==1.2.0
fava-investor==1.0.1

loguru==0.7.3
ibflex==0.15

beancount-tools-collection @ git+https://github.com/mekanics/beancount-tools-collection.git