name: Lint and Test Dockerfile

on:
  push:
    paths:
      - 'Dockerfile'

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: Dockerfile
